:root {
    --negro: #000000;
    --rosa: #F72798;
    --naranja: #F57D1F;
    --amarillo: #EBF400;
}

body {
    background-color: #000000; /* Fondo general más oscuro para resaltar el contenedor */
    color: white; /* Color de texto por defecto */
}

.container {
    width: 1200px;
    margin: 25px auto;
    background-color: var(--negro);
    padding: 25px;
    border-radius: 10px; /* Bordes redondeados para un efecto más suave */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5); /* Sombra sutil */
}

h1 {
    text-align: center;
    color: var(--amarillo);
    margin: 0 25px;
}

h2 {
    text-align: center;
    color: var(--rosa);
    margin: 25px 25px 0px;
}

h3 {    
    color: black;
    text-transform: uppercase;
    background-color: aquamarine;
    padding: 5px; /* Padding ajustado para mayor comodidad */
    border-radius: 5px; /* Bordes redondeados */
}

form {
    margin: 0px 25px;
}

legend {
    padding: 25px 0px;
    color: var(--amarillo);
    text-transform: uppercase;             
}

fieldset {
    margin-top: 0px;
    border: 2px solid var(--naranja); /* Borde para el fieldset */
}

label {
    color: white;    
}

.data-inputs {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3.5px;
}

.lug, .sujetador {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr;
    margin-top: 1.5rem;
}

.lug, .sujetador label {
    text-align: right;
    margin-right: 5px;
}

.lug-datos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1.5rem;
    row-gap: 0.85rem;
    column-gap: 0.85rem;
}

.lug-dato input {
    width: 100%;
    margin-top: 0.35rem;
    padding: 0.5rem; /* Padding para mejor apariencia en inputs */
    border-radius: 5px; /* Bordes redondeados en inputs */
    border: 1px solid var(--naranja); /* Borde para los inputs */
}

.btn-alinear {
    text-align: right;
    margin-top: 1.5rem;
}

.btn {
    background-color: var(--negro);
    color: var(--rosa);
    text-transform: uppercase;
    padding: 0.75rem 2.5rem;
    border: 2.5px solid var(--naranja); /* Bordes más visibles */
    border-radius: 5px; /* Bordes redondeados en botones */
    transition: all 0.3s ease; /* Transición suave en hover */
}

.btn:hover {
    cursor: pointer;
    background-color: var(--amarillo);
    color: var(--negro);
    border-color: var(--rosa);
}

input[disabled] {
    color: red;
    background-color: var(--negro);
    border-color: var(--amarillo);
    font-weight: bold;
    padding-left: 5.5px;
}
