:root {
  --size: 150px;
}
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.stories-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 790px;
  margin: 100px auto;
}

.stories-container .story .outer-border {
  background-color: black;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;

  background: radial-gradient(
      circle farthest-corner at 32% 106%,
      rgb(254, 250, 224) 0%,
      rgb(250, 237, 206) 10%,
      rgb(224, 229, 182) 28%,
      rgb(204, 213, 174) 42%,
      transparent 82%
    ),
    linear-gradient(135deg, rgb(254, 250, 224) 12%, rgb(250, 237, 206) 58%);
}
.stories-container .story .border {
  background-color: white;
  width: calc(var(--size) - 10px);
  height: calc(var(--size) - 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-sizing: border-box;
}

.stories-container .story .border a {
  display: block;
  width: calc(var(--size) - 20px);
  height: calc(var(--size) - 20px);
  box-sizing: border-box;
}
.stories-container .story .border img {
  border-radius: 50%;
  width: calc(var(--size) - 20px);
  height: calc(var(--size) - 20px);
  box-sizing: border-box;
}

.stories-container .story .name {
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 10px 0;
  font-weight: 500;
  font-size: 16px;
  width: var(--size);
}
