:root {
    --beige: #CCD5AE;
    --peach: #E0E5B6;
    --red: #FAEDCE;
    --black: #FEFAE0;
}
body {
    font-size: 62.5%;
}

.header{
    background-color: var(--red);
    width: 50rem;
    margin: 1.5rem auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: baseline;
    padding-top: 1.5rem;
}

img {
    width: 100%;
}
.imagen{
    width: 15%;
}

.header-1{
    margin-left: 0.5rem;
    font-size: 2.75rem;
    color: beige;
}

fieldset {
    width: 70rem;
    margin: 0 auto;
    border: none;    
}

.campos {
    width: 70rem;
    margin: 0 auto;
    background-color: var(--peach);
    padding: 1.5rem 3rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1.5rem;
}

legend {
    text-transform: uppercase;
    background-color: var(--black);
    font-size: 1.25rem;
    padding: 0.5rem 2.75rem;
    
}

.pad-legend {
    color: var(--peach);    
    text-transform: uppercase;
    background-color: var(--black);
    font-size: 1.25rem;
    padding: 0.5rem 2.75rem;
    
}

.input-text {
    width: 100%;
    font-size: 1.5rem;
    border: none;
    background-color: transparent;
    border-bottom: solid var(--black) 1.75px;
}

.etiqueta {
    font-size: 1.25rem;
}

.main {
    width: 90rem;
    margin: 0 auto;
    background-color: var(--black);
    padding: 3rem 0 4rem 0;
}

.boton-margin{
    width: 75rem;
    margin: 1.5rem auto 0 auto;
    text-align: right;
}

.boton {
    background-color: var(--red);
    font-size: 1.25rem;
    padding: 0.25rem .85rem;
    border: none;
    text-transform: uppercase;
    color: var(--beige);
    border-radius: 5px;
    cursor: pointer;
}

.boton:hover {
    background-color: var(--black);
    border: solid var(--peach) 1.25px;
}